
<!DOCTYPE html>
<html lang="en">
<span style="color: white">
<% if flash[:notice] %>
    <div class="notice"><h1><%= flash[:notice] %></h1></div>
  <% end %>
</span>
<div class="home">

<head>
</head>


  <!-- Theme Made By www.w3schools.com - No Copyright -->


</div>

</body>
</html>
