<footer class="footer">
  <small>
    Project : <a class="btn btn-social-icon btn-github" href="https://github.com/aman935/adp">
      <i class="fa fa-github fa-3x"></i> 
  </a>
    at <a href="https://github.com/aman935/adp#readme">Github Repo : ADP</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer> 
